!!!  
%html{:lang => "en"}
  %head

    %link(rel="stylesheet" href="stylesheets/screen.css")
    %link(rel="stylesheet" href="stylesheets/fontello/css/fontello.css")
    %link(rel="stylesheet" href="stylesheets/fontello/css/animation.css")


    %link(href='custom_elements/rz-midi_box/rz-midi_box.html' rel='import')
    %link(href='custom_elements/rz-inc_box/rz-inc_box.html' rel='import')

    /jQuery
    %script{:type=>"text/javascript", :src=> "javascripts/vendors/jQuery1_10_1.js"}
    
    
  %body

    /require
    /%script(data-main="javascripts/boneRouter" src="javascripts/vendors/require.js")

    

    / polymer
    %script{:src => "javascripts/vendors/polymer/polymer.min.js", :type => "text/javascript"} 

    / midi.js package
    %script{:src => "javascripts/vendors/midijs/js/midi/AudioDetect.js", :type => "text/javascript"}
    %script{:src => "javascripts/vendors/midijs/js/midi/LoadPlugin.js", :type => "text/javascript"}
    %script{:src => "javascripts/vendors/midijs/js/midi/Plugin.js", :type => "text/javascript"}
    %script{:src => "javascripts/vendors/midijs/js/midi/Player.js", :type => "text/javascript"}
    %script{:src => "javascripts/vendors/midijs/js/Window/DOMLoader.XMLHttp.js", :type => "text/javascript"}
    %script{:src => "javascripts/vendors/midijs/js/Window/DOMLoader.script.js", :type => "text/javascript"}
    
    / midi extras
    %script{:src => "javascripts/vendors/midijs/inc/Base64.js", :type => "text/javascript"}
    %script{:src => "javascripts/vendors/midijs/inc/base64binary.js", :type => "text/javascript"}

    /midi perso
    %script{:src => "javascripts/listen.js", :type => "text/javascript"} 

    /backbone dep
    %script{:src=>"http://underscorejs.org/underscore.js", :type => "text/javascript"}
    %script{:src=>"http://backbonejs.org/backbone.js", :type => "text/javascript"}

    /templates
    %script{:type=>"text/javascript", :src=> "javascripts/templates/main_view.js"}

    %script{:type=>"text/javascript", :src=> "javascripts/templates/struct_template.js"}
    %script{:type=>"text/javascript", :src=> "javascripts/templates/settings_template.js"}
    %script{:type=>"text/javascript", :src=> "javascripts/templates/tuning_template.js"}
    %script{:type=>"text/javascript", :src=> "javascripts/templates/user_menu_template.js"}
    %script{:type=>"text/javascript", :src=> "javascripts/templates/tab_template.js"}

    %script{:type=>"text/javascript", :src=> "javascripts/templates/modals/edit_chord_template.js"}
    %script{:type=>"text/javascript", :src=> "javascripts/templates/modals/login_template.js"}
    %script{:type=>"text/javascript", :src=> "javascripts/templates/modals/signup_template.js"}
    %script{:type=>"text/javascript", :src=> "javascripts/templates/modals/search_naming_template.js"}
    %script{:type=>"text/javascript", :src=> "javascripts/templates/modals/chord_naming_template.js"}

    /lib
    %script{:type=>"text/javascript", :src=> "javascripts/lib/CycleBoxObject.js"}
    %script{:type=>"text/javascript", :src=> "javascripts/lib/SelectBox.js"}
    %script{:type => "text/javascript", :src => "javascripts/lib/Tablature.js"}

    /backbone
    %script{:src=>"javascripts/boneUser.js", :text=> "text/javascript"}
    %script{:src=>"javascripts/boneModals.js", :text=> "text/javascript"}
    %script{:src=>"javascripts/boneChord.js", :text=> "text/javascript"}
    %script{:src=>"javascripts/boneSearch.js", :text=> "text/javascript"}
    %script{:src=>"javascripts/boneRouter.js", :text=> "text/javascript"}



