@host {
  /* line 15, sass/style.sass */
  * {
    display: inline-block;
  }
}

/* line 18, sass/style.sass */
#wrapper {
  width: 34px;
  height: 50px;
  display: inline-block;
  background: transparent;
  position: relative;
}

/* line 25, sass/style.sass */
#display {
  margin: 8px 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 2px solid #e7eee2;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #d7503e;
}
/* line 34, sass/style.sass */
#display b {
  color: #423a38;
  line-height: 30px;
  font-size: 15px;
}

/* line 40, sass/style.sass */
.arrow {
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  display: inline-block;
  text-align: center;
  left: 11px;
}
/* line 49, sass/style.sass */
.arrow.up {
  border-bottom: 8px solid #e7eee2;
  top: 0;
}
/* line 52, sass/style.sass */
.arrow.down {
  border-top: 8px solid #e7eee2;
  bottom: 0;
}
/* line 55, sass/style.sass */
.arrow.hidden {
  display: none;
}
