#tuning-menu
  display: block 
  height: 53px
  #tuning-wrapper
    +border-top-radius(5px)
    display: inline-block
    padding: 0 10px
    
    #strings
      margin-right: 10px
      .incBoxDisplay
        background: $theme_5
        b 
          color: $theme_3
       
    #tuning
      display: inline-block 

      .tuning-midi-box
        .pitch_box .incBoxDisplay
          background: $theme_2
          b
            color: $theme_3
        .oct_box .incBoxDisplay     
          background: $theme_4
          b
            color: $theme_1
    

