#tuning-menu
  display: block 
  height: 80px
  #tuning-wrapper
    background: rgba($theme_4, .2)
    +border-top-radius(5px)
    display: inline-block
    padding: 0 10px
    rz-midi_box
      padding: 5px
    rz-inc_box 
      p
        margin-bottom: 3px 
  
    #instument_settings_wrap
      float: left
      padding: 10px
  
      #strings-wrap
        float: left
        padding: 5px
        margin: 0 5px 0 0
       
    #tuning
      display: inline-block      
      
    

